.header-container{
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-input{
    width: 40%;
    padding: 5px;
    /* border-radius: 10%; */
    border: none;
    border-bottom: 2px solid #5c6bc0;
}

.header-right{
    display: flex;
    gap: 15px;
}

.list-item{
    position: relative;
    cursor: pointer;
}

.dropdown-container{  
    /* position: absolute;
     
     background-color: #777;
     color:#fff;
     padding: 16px;
     font-size: 16px;
     border: none; */

     display: block;
     top: 50px; 
     position: absolute;
     background-color: #f1f1f1;
     min-width: 100px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     /* right: 0; */
     z-index: 1;
}

.dropdown-container p {
    padding: 12px;
    cursor: pointer;
}